/* =============================================================================
 * Used Alexays Configuration as Reference: https://github.com/Alexays/Waybar/wiki/Configuration
 * =========================================================================== 
*/



* {
    all: unset;
    background: #352939;
    border-radius: 0;
    border: none;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-weight: normal;
    min-width: 21px;
    
}

#waybar {
    font-family:   "JetBrainsMono Nerd Font";
    font-size: 12px;
    background: black; 
}

window#waybar{ }

#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#cmus,
#weather,
#tray {
    padding-bottom: 12px;
    padding-top: 12px;
    padding-right: 2px;
}

#battery {
    color: @bgcolor;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#custom-weather{
    color: @bgcolor;
    padding-top: 12px;
    padding-bottom: 12px;
}

#mpd{
    color: @bgcolor;
    padding-top: 12px;
    padding-bottom: 12px;
}
#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#clock.date{
    color: @bgcolor;
    padding-bottom: 5px;
    border-bottom:  1px solid @bgcolor; 
}

#clock {
    color: @bgcolor;
    font-weight: bold;
}
#clock.time{
    color: @bgcolor;
    padding-top: 5px;
}
#cpu {
    color: @bgcolor;
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    color: @bgcolor;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    color: @bgcolor;
    border-top: 2px solid @bgcolor;
    padding-bottom: 2px;
}

#network {
    color: @bgcolor;
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    color: @bgcolor;
}

#pulseaudio.muted {
    color: @bgcolor;
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#temperature {
    color: @bgcolor;
}

#temperature.critical {
    color: red;
}

#tray { }

#window {
    font-weight: bold;
}

#backlight{
    color: @bgcolor;
    padding-bottom: 12px;
    padding-top: 12px;
}

#workspaces button {
    border-top: 2px solid transparent;
    padding-bottom: 2px;
    padding-top: 2px;
    color: @bgcolor;
}

#workspaces button.focused {
    font-weight: bold;
    color: #ff79c6;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#idle_inhibitor{
padding-top: 12px;
padding-bottom: 12px;
}
