/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */



/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */
/*@define-color bgcolor #ebdbb2; */
/* Reset all styles */
* {
    all: unset;
    background: #181818;
    border-radius: 0;
    border: none;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-weight: normal;
  /*  color: @bgcolor */
    
}

/* The whole bar */

#waybar {
    /* Original font is Cantarell */
    font-family:   "JetBrainsMono Nerd Font";
    font-size: 12px;
    background: black; /*linear-gradient(120deg , #2a0f3b 0%, #000000 100%); */
}

window#waybar{
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#cmus,
#weather,
#tray {
    padding-bottom: 12px;
    padding-top: 12px;
    padding-right: 2px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    color: @bgcolor;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#custom-weather{
    color: @bgcolor;
    padding-top: 12px;
    padding-bottom: 12px;
}

#mpd{
    color: @bgcolor;
    padding-top: 12px;
    padding-bottom: 12px;
}
#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#clock.date{
    color: @bgcolor;
    padding-bottom: 5px;
    border-bottom:  1px solid @bgcolor; 
}

/* 4B7395 */
#clock {
    color: @bgcolor;
    font-weight: bold;
}
#clock.time{
    color: @bgcolor;
    padding-top: 5px;
}
#cpu {
    color: @bgcolor;
  /* No styles */
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    color: @bgcolor;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    color: @bgcolor;
    border-top: 2px solid @bgcolor;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#network {
    color: @bgcolor;
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    color: @bgcolor;
    /* No styles */
}

#pulseaudio.muted {
    color: @bgcolor;
    /* No styles */
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#temperature {
    color: @bgcolor;
}

#temperature.critical {
    color: red;
}

#tray {
    /* No styles */
}

#window {
    font-weight: bold;
}

#backlight{
    color: @bgcolor;
    padding-bottom: 12px;
    padding-top: 12px;
}
/* #*/
#workspaces button {
    border-top: 2px solid transparent;
    padding-bottom: 2px;
    padding-top: 2px;
    color: @bgcolor;
}


#workspaces button.focused {
    /*color: #ff79c6; */
    font-weight: bold;
    color: #ff79c6;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#idle_inhibitor{
padding-top: 12px;
padding-bottom: 12px;
}
